body {
    /* background-color: rgb(27, 29, 27); */
    background-image: url(../assets/images/visax-JH5p6inVBKg-unsplash.jpg);
    color: white;
    /* background-image: linear-gradient(rgb(63, 235, 11),black); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    // font-weight: 400;
}