body {
    /* background-color: rgb(27, 29, 27); */
    // background-image: url(../assets/images/visax-JH5p6inVBKg-unsplash.jpg);
    background-image: radial-gradient(circle, #00ff0b, #0cdc0b, #11ba0a, #129909, #117908, #127909, #137909, #14790a, #19990d, #1eba10, #24dc12, #29ff14);
    color: $color-letras1;
    /* background-image: linear-gradient(rgb(63, 235, 11),black); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    // font-weight: 400;
    &::-webkit-scrollbar{
        width: 7px;
    }
    &::-webkit-scrollbar-thumb{
        background: #3b3b3b7a;
        border-radius: 5px;
    }
}