body {
    /* background-color: rgb(27, 29, 27); */
    // background-image: url(../assets/images/visax-JH5p6inVBKg-unsplash.jpg);
    // background-image: radial-gradient(circle, #00ff0b, #0cdc0b, #11ba0a, #129909, #117908, #127909, #137909, #14790a, #19990d, #1eba10, #24dc12, #29ff14);
    color: $color-letras1;
    /* background-image: linear-gradient(rgb(63, 235, 11),black); */
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-attachment: fixed;
    background: linear-gradient(315deg, rgb(8, 211, 42) 3%, rgb(13, 77, 7) 38%, rgb(14, 114, 59) 68%, rgb(202, 202, 202) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    // font-weight: 400;
    &::-webkit-scrollbar{
        width: 7px;
    }
    &::-webkit-scrollbar-thumb{
        background: #3b3b3b7a;
        border-radius: 5px;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgba(5, 5, 5, 0.336);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

