

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,500px);
    .card{
        justify-self: center;
        align-self: center;
        a{
            text-decoration: none;
        }

    }

}




