@media(max-width:613px){
    .lista-titulo{
        font-size: 20px;
    }
    .lista{
        font-size: 15px;
    }

    .container .element{
        font-size: 15px;

    }
    .contenedor-productos{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,320px);
        }
}