@media (max-width:838px){
    .header{
        flex-direction: column;
        height: 10.3125rem;
        gap: 30px;
        background-color: rgba(54, 111, 160, 0);
        .logo-pagina{
            width: auto;
            height: 4rem;
        
        }

        .navbar{

        }
}

.contenedor-productos{
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(3,400px);
}


    .grids-2{
      grid-template-columns: 1fr;
      grid-template-rows: 100px 400px 400px;
  
    }
    .obj-1{
      grid-column: 1/2;
      grid-row: 1/2;
    }
    
    .obj-2{
      grid-column: 1/2;
      grid-row: 3/4;
    }
    
    .obj-3{
      grid-column: 1/2;
      grid-row: 2/3;}
}
